.button-default {
  color: var(--text-color);
  background: none;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 20px;
  border: 1px solid var(--text-color);
  cursor: pointer;
  width: 70%;
  border-radius: var(--borderRadius);
  margin-top: 25px;
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
}

.button-default-about {
  width: 50%;
}

.button-default:hover {
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  background: var(--text-color);

  font-size: 18px;
  transition: 0.3s;
}
