.header {
  position: fixed;
  color: var(--text-color);
  z-index: 10;
  width: 100%;
  background-color: var(--backGround-header);
  backdrop-filter: blur(2px);
  padding: 10px;
}

.header-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hedaer-setting-block {
  display: flex;
  gap: 15px;
}

.header-setting__icon {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-size: 36px;
  transition: 0.3s;
}

.header-setting__icon:hover {
  transition: 0.3s;
  background: none;
  border: none;
  cursor: pointer;
  color: rgb(158, 158, 158);
}
