.menu {
  position: fixed;
  right: 55px;
  top: 37%;
  z-index: 10;
}

.menu-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
  gap: 25px;
  padding-left: 30px;
  border-left: 1px solid var(--gray-text);
}

.menu-list_link_button {
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--gray-text);
  transition: 0.3s;
  cursor: pointer;
  font-weight: 600;
}

.menu-list_link_button:hover {
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.menu-list_link_button-active {
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  transition: 0.3s;
  cursor: pointer;
}

.menu-list_link_button-active:hover {
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  transition: 0.3s;
  cursor: pointer;
}

.menu-list_link_button {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.menu-list_link_button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Расстояние линии от текста */
  width: 0;
  height: 1px; /* Толщина линии */
  background-color: var(--text-color);
  transition: width 0.3s ease-in-out;
}

.menu-list_link_button:hover::after {
  width: 100%;
  transition: width 0.3s ease-in-out;
}

.menu-list_link_button:not(:hover)::after {
  width: 0;
  transition: width 0.3s ease-in-out;
}
