.menu {
  position: fixed;
  right: 55px;
  top: 37%;
  z-index: 10;
}

.menu-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  flex-direction: column;
  gap: 25px;
  padding-left: 30px;
  border-left: 1px solid var(--gray-text);
}

.menu-list_link_button {
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--gray-text);
  transition: 0.3s;
  cursor: pointer;
  font-weight: 600;
}

.menu-list_link_button:hover {
  transition: 0.3s;
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  color: var(--text-color);
  cursor: pointer;
}

.menu-list_link_button-active {
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  transition: 0.3s;
  cursor: pointer;
}

.menu-list_link_button-active:hover {
  font-family: "Nunito", sans-serif;
  background: none;
  border: none;
  font-size: 20px;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  transition: 0.3s;
  cursor: pointer;
}

.sections-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}

.section-wrapper-false {
  display: none;
}

.section-wrapper-true {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.active {
  transform: translateY(0);
  z-index: 2;
}

.enter-from-bottom {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.enter-from-top {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

.exit-to-top {
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.exit-to-bottom {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.scroll-up {
  transform: translateY(-100%);
  z-index: 0;
}

.scroll-down {
  transform: translateY(100%);
  z-index: 0;
}
