.my-page {
  color: var(--text-color);
  background-color: var(--bg-color);
}

.back-hello {
  display: flex;
  align-items: center;
}

.back-block {
  position: relative;
}

.home {
  position: relative;
}

.back-block-text__title {
  font-size: 52px;
  font-weight: 800;
  line-height: 1;
  letter-spacing: 1px;
  margin-left: 25px;
}

.back-block-tag {
  color: var(--gray-text);
  font-size: 20px;
  font-weight: 600;
}

.back-block-text {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.back-block-text__text {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 25px;
}

/* about */

.home-block {
  display: flex;
  min-height: 100vh;
  align-items: center;
}

.home-block-about-text h2 {
  font-size: 36px;
  font-weight: 700;
}

.home-block-about-text p {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 400;
  color: var(--gray-text);
}

.home-block-about {
  display: flex;
  gap: 100px;
}

.home-block-about__img {
  width: 100%;
  max-width: 350px;
}

.home-block-about-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
